body {
  background: url("./blackjack.jpg") center no-repeat;
  background-size: 100%;
  color: #ffff;
}
.container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
  display: flex;
  padding: 0px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-blackjack-row-1 div {
  border: 1px solid black;
  padding: 10px;
  height: 60vh;
  flex: 1;
  text-align: center;
}

.flex-blackjack-row-1 img {
  width: 23%;
  padding: 10px;
}

.flex-blackjack-row-2 button {
  padding: 10px;
}

.flex-blackjack-row-2 div {
  padding: 10px;
}

table,
th,
td {
  padding: 5px;
  border: 1px solid black;
}

@media (max-width: 900px) {
  body {
    background-size: 180%;
  }
  h2 {
    font-size: 20px;
  }

  .flex-blackjack-row-1 div {
    border: 1px solid white;
    padding: 1px;
    height: 24vh;
  }

  .flex-blackjack-row-1 img {
    width: 20%;
    padding: 2px;
  }

  .flex-blackjack-row-2 button {
    padding: 5px;
    font-size: small;
    margin: 15px 5px;
  }

  .flex-blackjack-row-2 div {
    padding: 2px;
  }

  table,
  th,
  td {
    padding: 5px;
    border: 1px solid white;
  }
}

@media (max-width: 376px) {
  body {
    background-size: 150%;
  }

  h2,
  h3 {
    font-size: 10px;
  }

  .flex-blackjack-row-1 div {
    height: 18vh;
  }

  .flex-blackjack-row-2 button {
    padding: 5px;
    font-size: x-small;
  }

  .flex-blackjack-row-2 div {
    padding: 2px;
  }

  table,
  th,
  td {
    padding: 5px;
    border: 1px solid white;
    font-size: 10px;
  }
}

@media (max-width: 300px) {
  body {
    background-size: 150%;
  }

  h2,
  h3 {
    font-size: 10px;
  }

  .flex-blackjack-row-1 div {
    height: 10vh;
  }

  .flex-blackjack-row-2 button {
    padding: 2px;
    font-size: xx-small;
    margin: 10px 4px;
  }

  .flex-blackjack-row-2 div {
    padding: 2px;
  }

  table,
  th,
  td {
    padding: 3px;
    border: 1px solid white;
    font-size: 5px;
  }
}
